<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zgl</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<h1 class="hello">hello,here is my django project</h1>
<div class="messagesss">
    <form action="/messageurl/" method="post">
        <p>留言信息，请留下你的信息。</p>
        <p>名字：</p>
        <input id="name" type="text" name="name">
        <p>邮箱：</p>
        <input id="email" type="email" name="email">
        <p>地址：</p>
        <input id="address" type="text" name="address">
        <p>留言：</p>
        <input id="message" type="text" name="message">
        <input type="button" class="button" value="提交">
        {% csrf_token %}
        <p>//提交form表单是必须添加这段代码，这是django的安全机制</p>
    </form>
</div>
</body>
</html>