<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zgl</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<h1 class="hello">hello,here is my django project</h1>
<div class="message">
    <form action="">
        <p>名字：</p>
        <input type="text">
        <p>邮箱：</p>
        <input type="email">
        <p>地址：</p>
        <input type="text">
        <p>留言：</p>
        <input type="text">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>